<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470408898874-vreksljog0vfr522mjq9ro7fott0tfip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470408898874-vreksljog0vfr522mjq9ro7fott0tfip</string>
	<key>API_KEY</key>
	<string>AIzaSyDuLaSB9VmiaC77sXJdctNQy6NnjiPc_J0</string>
	<key>GCM_SENDER_ID</key>
	<string>470408898874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.docDocFront</string>
	<key>PROJECT_ID</key>
	<string>doc-doc-125f7</string>
	<key>STORAGE_BUCKET</key>
	<string>doc-doc-125f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470408898874:ios:3157f04fc8082167de8803</string>
</dict>
</plist>